*{margin: 0;}

h1{
    text-align: center;
    margin-top: 200px;
}
.startportal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#btnstart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    background: #220076;
    border: 0px;
    color: white;
    font-size: 20pt;
    border-radius: 5px;
    transition-duration: 0.4s;
}
#btnstart:hover{
    background-color: #008CBA;
}
#all{
    width: 960px;
    
    
    margin: auto;
    padding-top:100px;
    border: 5px solid #008CBA;
    padding: 10px;
    height: 430px;
}
#avt{
    width: 100%;
    height: 330px;
}

#left{
    width: 320px;
  
    float: left;
}
#left img{
    width: 320px;
    height: 330px;
}
#right{
    width: 620px;
   
    border: 5px solid #008CBA;
    float: right;
}
#right img {border-style:solid; border-width:5px; border-color:rgb(255, 255, 255); }
.avatar{
    width: 130px;
    float: left;
    height: 140px;
    margin: 10px 10px;
    background: rgb(27, 40, 226);
}
.avatar img{
    width: 100%;
    height: 100%;
}
#selectavt{
    width: 100%;
    float: left;
    clear: both;;
}
#btnstart{
    margin: auto;
}

